
{% extends 'main.html' %}
{% block content %}







<div class="tabel">
    <div class="tabeliheader">
        <div class="tabeliheaderkast">
            <h5>Task</h5>
        </div>
        <div class="tabeliheaderkast">
            <h5>Tähtaeg</h5>
        </div>
        <div class="tabeliheaderkast">
            <h5>Vastutav</h5>
        </div>
        <div class="peidus-tabeliheaderkast">
            <h5>Looja</h5>
        </div>
        <div class="peidus-tabeliheaderkast">
            <h5>Loodud</h5>
        </div>
        <div class="tabeliheaderkast">
            <h5>Ava</h5>
        </div>
    </div>
    {% for task in taskid %}
    <div class="rida">
        <div class="reakast">
            <a>{{task.id}}</a>
        </div>
        <div class="reakast">
            <a>{{task.deadline|date:"d/m/y H:i" }}</a>
        </div>
        <div class="reakast">
            <a>{{task.responsible}}</a>
        </div>
        <div class="peidus-reakast">
            <a>{{task.taskcreator}}</a>
        </div>
        <div class="peidus-reakast">
            <a>{{task.createdon|date:"d/m/y H:i" }}</a>
        </div>
        <div class="reakast">
            <a href="{% url 'view_komplekteeritudkogus' %}?task.idurl={{ task.id }}" class="btn btn-primary">Ava</a>
        </div>
    </div>




    {% empty %}
    <h3>tooteid pole</h3>
    {% endfor %}

</div>









{% endblock content %}