
{% extends 'main.html' %}
{% block content %}




<div class="nupud">
    <div class="nupp">
        <a href="{% url 'create-projekt' %}">
            <button type="button">Loo Uus</button>
        </a>
    </div>
</div>



<div class="tabel">
    <div class="tabeliheader">
        <div class="tabeliheaderkast">
            <h5>Projekt</h5>
        </div>
        <div class="tabeliheaderkast">
            <h5>Staatus</h5>
        </div>
    </div>
    {% for projekt in projektid %}
    <div class="rida">
        <div class="reakast">
            <a>{{projekt.projekt}}</a>
        </div>
        <div class="reakast">
            <a>{{projekt.staatus}}</a>
        </div>      
    </div>




    {% empty %}
    <h3>tooteid pole</h3>
    {% endfor %}

</div>









{% endblock content %}